* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "header     header      header  header  header  header   header"
    "sidebar    sidebar     main     main    main    main    aside"
    "sidebar    sidebar     footer  footer  footer  footer  footer";
  height: 100vh;
  grid-template-rows: 60px 1fr 150px;
}

.header {
  background-color: salmon;
  grid-area: header;
  /* height: 60px; */
}

.sidebar {
  background-color: dodgerblue;
  grid-area: sidebar;
}

.main {
  background-color: greenyellow;
  grid-area: main;
}

.aside {
  background-color: rgb(147, 56, 150);
  grid-area: aside;
}

.footer {
  background-color: rgb(74, 98, 145);
  grid-area: footer;
  /* height: 150px; */
}
